:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  /* background-color: #32363f; */
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, rgba(255, 249, 200, 0.5) 1%, rgba(255, 72, 103, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(255, 249, 103, 0.5) 80%);
}

p {
  color: #000;
}

.main {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.tittle-container {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #d1d1d1a4;
}

.tittle {
  color: #32363f;
  text-align: center;
  font-size: 2rem;
  letter-spacing: .8px;
}

.middle-container {
  border: 1px solid transparent;
  width: 60%;
  margin: 0 auto;
  padding: 8px 0;
  background-color: #eeeeeeb6;
  border-radius: 3px;
}

.tasks-container {
  width: 100%;
  /* border: 1px solid green; */
  padding: 20px;
}

.task-container {
  margin-bottom: 20px;
}

.addTask-container {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.input-newTask {
  width: 100%;
  text-indent: 10px;
  font-size: 1.2rem;
}

.addTask-container > button {
  cursor: pointer;
  padding: .7rem 1.2rem;
  font-size: 1.8rem;
  background-color: #4d82b8;
  border: 1px solid #32363f;
  transition: all 0.3s ease-in-out;
}

.addTask-container > button:hover {
  background-color: #3E6D9C;
}

.taskToComplete-info {
  margin: 1.2rem 0;
}

.taskToComplete-info span {
  color: #164863;
  font-weight: 500;
}

.taskToComplete-info > p {
  font-size: 1.4rem;
}

.task-container { 
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #32363f;
  background-color: #fff;
}

.taskInfo-container {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.taskInfo-container > p {
  flex-grow: 1;
  font-size: 1.1rem;
  text-decoration: none;
  /* border: 1px solid brown; */
}

.taskInfo-container > button {
  padding: .7rem .9rem;
  font-size: 24px;
  cursor: pointer;
}

.circular-checkbox {
  position: relative;
  display: inline-block;
  min-width: 20px; 
  min-height: 20px; 
  border-radius: 50%; 
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}

.footer {
  padding: 1.5rem 0;
  background-color: #32363f;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-container {
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-links a i {
  font-size: 35px;
  color: #fff;
}

.task-description.completed {
  text-decoration: line-through;
}

.circular-checkbox.completed {
  background-color: #32363f;
}

.trash-icon {
  background-color: #db5050;
  border: 1px solid #32363f;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.trash-icon:hover {
  background-color: #D21312;
  border: 1px solid #000;
  color: #FFF2F2;
}

.edit-icon {
  background-color: #4CB9E7;
  border: 1px solid #32363f;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.edit-icon:hover {
  background-color: #0097e2;
  border: 1px solid #000;
  color: #FFF2F2;
}

/* --------------------- MODAL SECTION --------------------- */

.modal-container {
  position: fixed;
  height: 100dvh;
  width: 100%;
  display: none; 
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(3.5px);
  z-index: 9999;
}

.modal-container.show {
  display: flex;
}

.modal {
  border: 1px solid #000;
  background-color: #F5F7F8;
  border-radius: 8px;
  width: 50%;
  padding: 25px 20px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tittleModal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tittleModal-container > p {
  flex-grow: 1;
  font-size: 1.1rem;
}

.tittleModal-container > button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
}


.input-newDescription {
  width: 100%;
  text-indent: 5px;
  font-size: 1.1rem;
  padding: 8px 0;
}

.button-container {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: .8rem;
}

.button-container > button {
  width: 100%;
  padding: 18px 0;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
}

#removeAll {
  background-color: #F6D6D6;
  border: 1px solid #32363f;
  transition: all 0.3s ease-in-out;
}

#removeAll:hover {
  background-color: #e76666;
}

#removeCompleted {
  background-color: #C1F2B0;
  border: 1px solid #32363f;
  transition: all 0.3s ease-in-out;
}

#removeCompleted:hover {
  background-color: #65B741;
}

@media (max-width: 1200px) {
  
  .middle-container {
    width: 70%;
  }

}

@media (max-width: 875px) {

  .button-container {
    flex-direction: column;
  }

  .middle-container {
    width: 80%;
  }

  .modal {
    width: 80%;
  }

}

@media (max-width: 575px) {

  .middle-container {
    width: 90%;
  }

  .modal {
    width: 90%;
  }

}
